//during normal pages
.page .site-content
	width: 80%
	margin: 0 auto

.page
	.entry-header
		position: relative
		margin: 0 auto
		width: 100%
		left: initial
		top: initial
	.entry-content
		text-transform: none
		font-size: 20px
		p
			padding: 12px
	.comments-area
		display: none
		visibility: hidden

//during home
.site-content
	height: 100%
	// background: -webkit-linear-gradient(left, #2f1c3a 0%,#aa433a 75%,#2f1c3a 100%)
	background: #ffa754
	position: relative
	overflow: hidden

.entry-footer
	display: none
	visibility: hidden

#slidesHolder
	position: relative
	z-index: 1002
	display: block
	-webkit-transform-style: preserve-3d
	transform-style: preserve-3d
	-webkit-transition: all 0.5s
	transition: all 0.5s

#slidesHolder
	figure
		margin: 0 auto
		position: relative
		overflow: hidden
		img
			width: 100% !important
			min-width: 1480px !important
	figure[style]
		width: 100% !important
		height: 100vh !important
		overflow: hidden !important

.wp-caption-text
	position: absolute
	width: 100%
	bottom: 0
	height: 96px
	line-height: 96px
	text-align: center
	background-color: rgba(255, 255, 255, 0.5)
	color: #2f1c3a
	font-size: 36px
	-webkit-transition: -webkit-transform 0.35s
	transition: transform 0.35s
	-webkit-transform: translate3d(0,100%,0)
	transform: translate3d(0, 100%, 0)

.entry-header
	position: absolute
	z-index: 1000
	top: 45%
	left: 50%
	text-align: center
	width: 50%
	height: 200px
	margin-left: -25%
	margin-top: -100px

.entry-title
	font-size: 96px
	a
		color: #2f1c3a

.entry-meta
	font-size: 24px

.posted-on,
.entry-date
	color: white

.posted-on
	background: #000
	display: block
	margin: 0 auto
	padding: 20px
	width: 50%
	border-radius: 12px
	background: #7A3E48

//during single posted

.single-post .site-content
	overflow: initial
	position: relative
	height: initial
	.post,
	.navigation,
	.comments-area
		width: 1440px
		margin: 0 auto
	.post
		.entry-header
			position: relative
			display: block
			margin: 0
			left: 0
			top: 0
			width: 100%
			height: auto
			color: white
		.posted-on,
		.entry-content,
		.entry-meta
			position: relative
			background: none
			display: block
		.author a
			color: white
			text-decoration: underline
		.entry-content
			margin: 20px 0 0 0
			figure
				width: initial !important
			p
				position: relative
				display: block
				width: 70%
				color: white
				margin: 0 auto
				font-size: 24px
				text-transform: none
	.wp-caption-text
		visibility: none
		display: none
	.nav-links
		margin: 20px 0 20px 0
	.nav-previous,
	.nav-next
		display: inline-block
		width: 50%
		text-align: center
		font-size: 24px
		a
			color: white