.site-content
	height: 100%
	background: -webkit-linear-gradient(left, #2f1c3a 0%,#aa433a 75%,#2f1c3a 100%)
	position: relative
	overflow: hidden

.entry-footer
	display: none
	visibility: hidden

#slidesHolder
	position: relative
	z-index: 1002
	display: block
	-webkit-transform-style: preserve-3d
	transform-style: preserve-3d
	-webkit-transition: all 0.5s
	transition: all 0.5s

#slidesHolder
	figure
		margin: 0 auto
		position: relative
		overflow: hidden
		img
			width: 100% !important
	figure[style]
		width: 100% !important
		height: 100vh !important
		overflow: hidden !important
	figcaption
		position: absolute
		bottom: 20%
		width: 100%
		text-align: center
		background: #000
		color: #fff
		font-size: 30px

.entry-header
	position: absolute
	z-index: 1000
	top: 45%
	left: 50%
	text-align: center
	width: 50%
	height: 200px
	margin-left: -25%
	margin-top: -100px

.entry-title
	font-size: 96px
	a
		color: white

.entry-meta
	font-size: 18px