.site-footer
	position: absolute
	bottom: 0
	width: 100%
	height: 70px
	background: #161616
	font-size: 14px
	font-weight: normal
	color: white
	padding-top: 30px

.site-info
	position: relative
	text-align: center

//during single posted

.single-post .site-footer
	position: relative