.site-header
	position: absolute
	left: 0
	top: 0
	height: 100%
	z-index: 1003
	border-right: double 10px #fff
	-webkit-transition: all 0.5s
	transition: all 0.5s
	background: rgba(255, 255, 255, 0.2)
	a
		color: white

.single .site-header,
.page .site-header
	position: fixed

.site-header,
	padding: 35px 35px 0 45px

.site-title
	font-size: 60px
	font-weight: 400

.nav-menu
	display: block
	margin: 30px 0 0 0
	li
		list-style: none
		position: relative
		font-size: 33px
		letter-spacing: 2px
		line-height: 60px
		a
			display: block
			opacity: 0.5
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s ease
			transition: opacity 0.35s, transform 0.35s ease
		a:hover
			opacity: 1
			-webkit-transform: translateX(30px)
			transform: translateX(30px)

//effect for testing
.open_tab
	position: absolute
	text-align: center
	line-height: 40px
	font-size: 24px
	border-radius: 50%
	right: -20px
	bottom: 50%
	color: #000
	background-color: #2f1c3a
	width: 40px
	height: 40px
	z-index: 1004
	-webkit-transition: -webkit-transform 0.35s

.open_tab:hover
	-webkit-transform: translateX(5px)

.rotate_arrow,
.rotate_arrow:hover
	-webkit-transform: rotate(180deg)

.slide-in-effect.site-header
	-webkit-transform: translate3d(-90%, 0, 0)
	transform: translate3d(-90%, 0, 0)

.slide-in-effect.st-menu-open
	background: rgba(134, 0, 159, 0.8)
	-webkit-transform: translate3d(0, 0, 0)
	transform: translate3d(0, 0, 0)